header {
    margin-bottom: 50px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px #888888;
}

/* dropdown menu */
.standard-menu {
    list-style: none;
    margin: 0;
}

.standard-menu a {
    padding: 5px 15px;
    display: block;
}

.standard-menu > li {
    display: inline-block;
    padding: 20px 0 15px 0;
    border-bottom: 5px solid transparent;
    transition: border-color 300ms ease-out 0s;
}

.standard-menu > li.active, .standard-menu > li:hover {
    border-bottom-color: #e3ebee;
}

.standard-menu > li:hover .sub-menu {
    opacity: 1;
    z-index: 1001;
}

.sub-menu {
    position: absolute;
    opacity: 0;
    padding: 0;
    list-style: none;
    background-color: white;
    border: 1px solid #c6c7c8;
    border-top-color: #e3ebee;
    text-align: left;
    z-index: -1;
    min-width: 150px;
    margin-top: 20px;
    transition: opacity 300ms ease-out 0s,z-index 300ms ease-out 0s;
}

.sub-menu a {
    color: #393939;
    font-size: 14px;
    transition: background-color 300ms ease-out 0s;
}

.sub-menu a:hover, .sub-menu li.active a {
    background-color: #f8f8f8;
}