header {
    margin-bottom: 50px;
    background-color: #f8f8f8;
    padding: 20px 0;
}

/*dropdown menu*/

.standard-menu > .col:hover .sub-menu {
    opacity: 1;
    z-index: 1001;
}

.sub-menu {
    position: absolute;
    opacity: 0;
    padding: 0;
    list-style: none;
    background: white;
    text-align: left;
    z-index: -1;
    transition: opacity 300ms ease-out 0s,z-index 300ms ease-out 0s;
}

.sub-menu a {
    padding: 5px 15px;
    display: block;
}