header {
    margin-bottom: 50px;
    background-color: #f8f8f8;
    padding: 20px 0;
}

/*dropdown menu*/

.standard-menu > .col:hover .sub-menu {
    display: block;
}

.sub-menu {
    position: absolute;
    display: none;
    padding: 0;
    list-style: none;
    background: white;
    text-align: left;
    z-index: 1001;
}

.sub-menu a {
    padding: 5px 15px;
    display: block;
}